@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #f9f9f9;
  --text-color: #ddd;

  --link-normal: #030303;
  --link-hover: #2b36b6;

  --syntax-background-color: #08090a;
  --syntax-text-color: #f8f8f2;
  --syntax-comment-color: #808080;
  --syntax-declaration-color: #f39c12;
  --syntax-literal-color: #dda0dd;
  --syntax-error-color: #f9690e;
  --syntax-name-color: #7ed07e;
  --syntax-string-color: #f2ca27;
}

/* 
--footer-link-color: var(--base-80);
    --footer-link-color-hover: var(--base-100);
    --link-color: var(--base-90);
    --link-color-hover: var(--accent-brand-darker);
    --link-bg-hover: var(--base-a5);
    --link-bg-hover-alt: var(--base-inverted);
    --link-brand-color: var(--accent-brand);
    --link-color-current: var(--base-100);
    --link-color-secondary: var(--base-60);
    --link-color-secondary-hover: var(--base-70);
    --link-bg-current: var(--base-inverted);
*/

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  background-color: var(--clr-bg);
  color: var(--clr-txt-200);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--link-primary);
}

a:hover {
  color: var(--link-hover);
}

a,
b,
em,
i,
q,
span,
strong,
u {
  transition: all 0.1s ease;
  font-size: 1em;
}

p {
  margin: 10px 0;
}
