.header {
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin: auto;
  padding: 0 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkItem {
  margin-left: 1rem;
  letter-spacing: 1px;
}
.logo {
  font-size: 2rem;
  font-weight: 900;
  background-color: rgb(41, 16, 187);
  color: white;
  padding: 0 10px;
}

.logo a:hover {
  color: rgb(235, 231, 231);
}
